
@font-face {
    font-family: Cyntho;
    src: url(fonts/CynthoSlabPro-Regular.otf);
}

@font-face {
    font-family: EgyptianSlate;
    src: url(fonts/EgyptianSlateBk.TTF);
}

@font-face {
    font-family:Noyh;
    src: url(fonts/Noyh-Italic.ttf);
}

.container {
    width:85%;
    height:100%;
}

.header {
    background-color: rgb(75, 75, 75);
    text-align: center;
}

.search_bar {
    background-color: white;
    text-align: center;
}

#search {
    width:60%;
    padding:5%;
}

.navbar {
    background-color: rgb(181, 18, 27);
    border: 0;
    display:flex;
    margin-bottom:0%;
    font-family:Noyh;
    font-size: 150%;
}

.nav, .navbar-nav, .dropdown-toggle{
    color:white !important;
    
}

#library_img {
    width:100%;
}

body {
    background-color: rgb(68, 68, 68);
    height:100%;
}

#example_div {
    position:relative;
    font-family:EgyptianSlate;
}

#example {
    position: absolute;
    top: 37%;
    left: 25%;
    padding:1%; 
    background-color: white;
    opacity:0.87;
    font-size:250%;
    width:50%;
    height:26%;
    align-items: center;
    text-align: center;
    font-weight: 500;
}

.onesearch {
    background-color: rgb(239, 239, 239);
    text-align: center;
}

#inputs_div {
    display:flex;
    left:32%;
    width:40%;
    margin-bottom: 1.5%;
}

#links {
    margin-bottom:5%;
}

#advanced_search {
    text-decoration: underline !important;
    text-decoration-color: rgb(214, 214, 214) !important;
}

#using_onesearch {
    text-decoration: underline !important;
    text-decoration-color: rgb(214, 214, 214) !important;
}

#shield {
    width:3%;
}

#search-addon {
    position:absolute;
    top:30%;
    left:97%;
    right:100%;
    font-size:170%;
}

#search {
    width:100%;
    right:15%;
}

#submit {
    background-color: rgb(181, 18, 27);
    color:white;
}

a:link {
    color:rgb(181, 18, 27);
}

#first_options {
    background-color: rgb(104,121,92);
    text-align:center;
    margin-right:0%;
    margin-left:0%;
    color:white;
    font-size:150%;
    font-family:Cyntho;
}

.green_stuff {
    width:50%;
}

.library_services {
    background-color: white;
    text-align: center;
    align-items: center;
}

#all_first_green_stuff {
    margin-top:3%;
    margin-bottom:3%;
}

.services {
    width:100%;
    position:relative;
    text-align: center;
    align-items: center;

}

#services {
    margin-top:5%;
    margin-bottom:5%;
    left:8%;
}

.photo_and_title {
    background-color:rgb(239, 239, 239);
    
}

.second_green_options {
    background-color: rgb(104,121,92);
    text-align:center;
    margin-right:0%;
    margin-left:0%;
    color:white;
    font-size:150%;
    font-family:Cyntho;
}

#second_green_options {
    margin-top:3%;
    margin-bottom:3%;
    width:80%;
}

#library_extension_image {
    width:100%;
}

#library_extension_div {
    position:relative;
}

#library_extension {
    position:absolute;
    top: 28%;
    left: 36%;
    background-color: white;
    opacity:0.87;
    font-size:250%;
    width:50%;
    height:50%;
  /*  align-items: center;
    text-align: center;*/
    font-size:200%;
}

#little_library_extension_div {
    font-size:1.75rem;
}

#library_extension_button {
    background-color:rgb(181, 18, 27);
}

@media only screen and (max-width:768px) {
    #search {
        display:none;
    }
}