.container {
    width:80%;
}

.header {
    background-color: rgb(75, 75, 75);
   /* height:3.5vh;*/
    /*display:flex;
    align-content: center;
    justify-content: center;*/
}

.search_bar {
    background-color: white;
    text-align: center;
}

#search {
    width:60%;
}

#search_col {
  /*  display:flex;*/
  /*  justify-content: center;*/
    max-height: 100%;
}

body {
    background-color: rgb(68, 68, 68);
}