@font-face {
    font-family: AsarRegular;
    src: url(font/Asar-Regular.ttf);
}

.container {
    width:80%;
    height:100%;
}

.header {
    background-color: rgb(75, 75, 75);
    text-align: center;
}

.search_bar {
    background-color: white;
    text-align: center;
}

#search {
    width:60%;
    padding:5%;
}

.navbar {
    background-color: rgb(181, 18, 27);
    border: 0;
    display:flex;
    margin-bottom:0%;
}

.nav, .navbar-nav, .dropdown-toggle{
    color:white !important;
    
}

#library_img {
    width:100%;
}

body {
    background-color: rgb(68, 68, 68);
    height:100%;
    font-family:AsarRegular;
}

#example_div {
    position:relative;
}

#example {
    position: absolute;
    top: 37%;
    left: 25%;
    padding:1%; 
    background-color: white;
    opacity:0.87;
    font-size:250%;
    width:50%;
    height:26%;
    align-items: center;
    text-align: center;
}

.onesearch {
    background-color: rgb(239, 239, 239);
    text-align: center;
}

#shield {
    width:3%;
}

#search-addon {
    position:absolute;
    top:38%;
    left:100%;
    right:100%;
}